<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		{nocache}
		<h2>{$time|date_format:"%Y-%m-%d %H:%M:%S"}</h2>
		<h2>{$time|date_format:"%Y-%m-%d %H:%M:%S"}</h2>
		{/nocache}
		
		<h2>{$time2|date_format:"%Y-%m-%d %H:%M:%S"}</h2>
		
		<h2>{insert name="welcome" age=21}</h2> 
		
		<table border="1" cellspacing="" cellpadding="">
			
			<tr>
				<td>序号</td>
				<td>商品名</td>
				<td>商品价格</td>
				<td>发布时间</td>
			</tr>
			
			{foreach $goods as $key=>$g}
			
			<tr>
				<td>{$g.goods_id}</td>
				<td>{$g.goods_name|truncate:15:'...'}</td>
				<td>{$g.shop_price}</td>
				<td>{$g.add_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			</tr>
			{/foreach}
			
		</table>
		
	</body>
</html>
