<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			
			table {
				background: pink;
				margin: 10px; 
			}
			
		</style>
	</head>
	<body>

		<table style="border: 1px solid lightcyan;">
			<tr>
				<td>姓名：</td>
				<td>{$name}</td>
			</tr>
			<tr>
				<td>年龄</td>
				<td>{$age}</td>
			</tr>
			<tr>
				<td>兵器</td>
				<td>{$weapon}</td>
			</tr>
		</table>
		
		<table style="border: 1px solid lightcyan;">
			<tr>
				<td>姓名：</td>
				<td>{$zf.name}</td>
			</tr>
			<tr>
				<td>年龄</td>
				<td>{$zf.age}</td>
			</tr>
			<tr>
				<td>兵器</td>
				<td>{$zf.weapon}</td>
			</tr>
		</table>

		<table style="border: 1px solid lightcyan;">
			<tr>
				<td>姓名：</td>
				<td>{$guanyu[0]}</td>
			</tr>
			<tr>
				<td>年龄</td>
				<td>{$guanyu[1]}</td>
			</tr>
			<tr>
				<td>兵器</td>
				<td>{$guanyu[2]}</td>
			</tr>
		</table>
		
	</body>
</html>
